body {
    background-color: rgb(15, 123, 71) ;
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:white;
    text-shadow: 0px 0px 7px black;
}